.btn {
    color: var(--grey-dark);
    position: relative;

    &:link,
    &:visited {
        text-decoration: none;
        // border: none;
        display: inline-block;
        text-transform: uppercase; 
    }

    &__standart {
        padding: .5rem 1rem;
        border-top: 3px solid var(--pink);
        position: relative;
        letter-spacing: 1px;
        z-index: 1;
        transition: color .2s;

        &:hover {
            color: var(--white);
        }

        &:hover::after {
            height: 100%;
        }

        &::after {
            content: "";
            height: .3rem;
            width: 100%;
            background-color: var(--pink);
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            transition: height .2s;
        }

        &--pink-dark {
            border-color: var(--pink-dark);
    
            &:hover {
                color: var(--white);
            }
    
            &::after {
                background-color: var(--pink-dark);
            }
        }
    }

    &__round {
        $btn-size: 5rem;
        $border-size: 3px;
        display: block;
        width:  $btn-size;
        height:  $btn-size;
        // border: $border-size solid var(--pink-dark);
        border-radius: 50%;
        text-align: center;
        // line-height: calc(#{$btn-size} - (#{$border-size * 2}));
        line-height: calc(#{$btn-size});
        letter-spacing: 2px;
        font-weight: 400;
        z-index: 1;
        position: relative;
        overflow: hidden;
        transition: color .2s;

        &:hover {
            color: var(--white);
            // border: none;
        }

        &:hover::after {
            height: 110%;
            width: 110%;
        }

        &::after {
            content: "";
            height: 0;
            width: 110%;
            background-color: var(--pink);
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            transition: height .2s;
        }

        &::before {
            $size: .5rem;
            content: "";
            height: $size;
            width: $size;
            border-radius: 50%;
            background-color: var(--pink);
            position: absolute;
            bottom: 0;
            left: calc(50% - #{$size});
            z-index: 1;
        }
    }

    &__inline {
        font-size: 1.8rem;
        z-index: 1;
        transition: color .1s .3s;
        padding: 0 .5rem;

        &:hover {
            color: var(--white);
        }

        &:hover::after {
            width: 100%;
        }

        &::after {
            content: "";
            height: 100%;
            width: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            transition: width .4s cubic-bezier(1,-0.04,0,1.05);
        }

        &--dark-pink {
            color: var(--pink-dark);

            &::after {
                background-color: var(--pink-dark);
            }
        }
    }

}